.image {
    position: relative;
    width: 100%;
}
.image img {
    width:100%;
    vertical-align:top;
}
.image:after, .image:before {
    position:absolute;
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
}
.image:before {
    content: attr(data-content);
    width: 100%;
    color: #fff;
    z-index: 1;
    font-family: sans;
    padding: 10px 10px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    background: #5B5B5B;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    vertical-align: middle;
}
.image:hover:after, .image:hover:before {
    opacity:1;
}
.layout tbody td {
  border: 0;
  vertical-align: top;
}
